<h1>Calculator</h1>

<% if locals[:result] %>
  <h3>Last result: <%= locals[:result] %></h3>
<% end %>

<form action="/calculate" method="post">
  <label for="first_number">First Number</label>
  <input type="text" name="first_number" />
  <br />
  <label for="second_number">Second Number</label>
  <input type="text" name="second_number" />
  <br />
  <br />
  <input type="submit" name="operation" value="+" />
  <input type="submit" name="operation" value="-" />
  <input type="submit" name="operation" value="*" />
  <input type="submit" name="operation" value="/" />
</form>
